<% wrap_layout :layout do %>
  <article>
  <h1><%= current_page.data.title %></h1>
  <em class="article__date"> <%= current_page.data.date.strftime('%A, %b %d %Y') %></em>
    <div class="authorCredits">
	    <span class="profile-picture">
	        <img src="https://secure.gravatar.com/avatar/<%= current_page.data.gravatarhash %>?d=identicon&amp;s=100" alt="<%= current_page.data.author %>"/>
	    </span>
	    <h5>By <%= current_page.data.author %></h5>
	</div>
    </br>
    <%= yield %>

        <div class="small-12 large-12 columns sharing-options">
              <span class='st_twitter' displayText='Tweet'></span>
              <span class='st_linkedin' displayText='LinkedIn'></span>
              <span class='st_googleplus' displayText='Google +'></span>
              <span class='st_email' displayText='Email'></span>
        </div>
      </br>
      </br>
      <hr>

    <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                var disqus_shortname = 'werckerblog'; // required: replace example with your forum shortname

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </article>
<% end %>
