---
pageable: true
per_page: 10
---
<% if paginate %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% page_articles.each_with_index do |article, i| %>
  <h1><%= link_to article.title, article %></h1>
  <div class="authorCredits">
    <span class="profile-picture">
        <img src="https://secure.gravatar.com/avatar/<%= article.data.gravatarhash %>?d=identicon&amp;s=192" alt="<%= article.data.author %>"/>
    </span>
    <h5>By <%= article.data.author %></h5>
    <em><%= article.date.strftime('%A, %b %d %Y') %></em>
    </br></br>
        <div class="small-12 large-12 columns sharing-options">
              <span class='st_twitter' displayText='Tweet'></span>
              <span class='st_linkedin' displayText='LinkedIn'></span>
              <span class='st_googleplus' displayText='Google +'></span>
              <span class='st_email' displayText='Email'></span>
        </div>
  </div>
</br>
  <!-- use article.summary(250) if you have Nokogiri available to show just
       the first 250 characters -->
  <%= article.body %>
</br>
<hr/>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
